body{
    background-color: aquamarine;
}
.container{
    margin: 20px 0;
    text-align: center;
    
}
.container button{
    background: #ccffff;
    border-radius: 5px;
    text-align: center;
}
.top{
    margin-left: 200px;
}

form{
    width: 450px;
    border: 1px solid black;
    display: flex;
    margin: 0 auto;
    
}
.namduonglich{
    margin: 0 0 25px 25px;
    text-align: center;
}
button{
    margin: 50px 10px 0 10px;
}